<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="IT Infinite - IT Solutions and Services Company HTML5 Template">
    <meta name="author" content="potenzaglobalsolutions.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IT Infinite - IT Solutions and Services Company HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="css/swiper/swiper.min.css">
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css">
    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!--=================================
    cursor -->
    <div id="cursor">
      <div class="cursor__circle"></div>
    </div>
    <!--=================================
    cursor -->
    
    <div id="page" class="main">

      <!--=================================
      Header -->
      <header class="header header-default header-sticky">
        <div class="header-inner">
          <div class="site-logo">
            <a class="navbar-brand" href="index.html"><img class="img-fluid logo-ir360" src="images/IR360 Blanco.png" alt="Logo IR360" />
          </div>
          <div class="site-menu d-none d-xl-block">
            <ul class="main-menu">
              <li class="nav-item"><a class="nav-link" href="#">Inicio <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="submenu">
                  <li><a class="nav-link" href="index.html">Inicio</a></li>
                  <!--<li><a class="nav-link" href="index-02.html">Home 02</a></li>
                  <li><a class="nav-link" href="index-03.html">Home 03</a></li>-->
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Menu <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="submenu">
                  <li><a class="nav-link" href="about-us.html">Nosotros</a></li>
                  <!--<li><a class="nav-link" href="pricing.html">Pricing</a></li>
                  <li><a class="nav-link" href="careers.html">Careers</a></li>-->
                  <li><a class="nav-link" href="contact-us.html">Contactanos</a></li>
                  <!--<li><a class="nav-link" href="faq.html">Faq</a></li>-->
                  <li><a class="nav-link" href="team.html">Nuestro equipo</a></li>
                  <!--<li><a class="nav-link" href="team-single.html">Team Single</a></li>
                  <li><a class="nav-link" href="typography.html">Typography</a></li>
                  <li><a class="nav-link" href="page-left-sidebar.html">Page Left Sidebar</a></li>
                  <li><a class="nav-link" href="page-right-sidebar.html">Page Right Sidebar</a></li>
                  <li><a class="nav-link" href="error-404.html">Error 404</a></li>
                  <li><a class="nav-link" href="coming-soon.html">Coming Soon</a></li>-->
                </ul>
              </li>
              <li class="nav-item active"><a class="nav-link" href="#">Servicios <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="submenu">
                  <li><a class="nav-link active" href="service.html">Servicios</a></li>
                  <!--<li><a class="nav-link" href="service-detail.html">Service Single</a></li>-->
                </ul>
              </li>
              <!--<li class="nav-item"><a class="nav-link" href="#">Case Studies <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="submenu">
                  <li><a class="nav-link" href="case-studies.html">Case Studies</a></li>
                  <li><a class="nav-link" href="case-studies-detail.html">Case Studies Single</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Blog <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="submenu">
                  <li><a class="nav-link" href="blog.html">Blog Standard</a></li>
                  <li><a class="nav-link" href="blog-detail.html">Blog Single</a></li>
                </ul>-->
              </li>
              <li class="nav-item"><a class="nav-link" href="contact-us.html">Contactanos</a></li>
            </ul>
          </div>

          <div class="site-action d-none d-xl-block">
            <div class="action-hamburger">
              <a class="hamburger" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="hamburger-container">
                  <span class="hamburger-inner"></span>
                  <span class="hamburger-hidden"></span>
                </span>
              </a>
            </div>
          </div>

          <div class="mobile-action d-block d-xl-none">
            <div class="mobile-hamburger">
              <a class="hamburger" href="#" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas" aria-controls="menuOffcanvas">
                <span class="hamburger-container">
                  <span class="hamburger-inner"></span>
                  <span class="hamburger-hidden"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </header>

      <!--==================================================================
      Main Menu OffCanvas -->
      <div class="offcanvas main-menu-offcanvas offcanvas-end" tabindex="-1" id="menuOffcanvas" aria-labelledby="menuOffcanvasLabel">
        <div class="offcanvas-header">
          <a id="menuOffcanvasLabel" class="navbar-brand" href="index.html"><img class="img-fluid logo-ir360" src="images/IR360 Blanco.png" alt="Logo IR360" /></a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="offcanvas-body lenis-scroll-disable">
          <div class="body-inner">
            <nav class="navbar">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Inicio</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item active" href="index.html"> Menu </a></li>
                    <!--=================================<li><a class="dropdown-item" href="index-02.html">Home 02</a></li>-->
                    <!--=================================<li><a class="dropdown-item" href="index-03.html">Home 03</a></li>-->
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Paginas</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="about-us.html">Nosotros</a></li>
                    <!--<li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                    <li><a class="dropdown-item" href="careers.html">Careers</a></li>-->
                    <li><a class="dropdown-item" href="contact-us.html">Contáctanos</a></li>
                    <!--<li><a class="dropdown-item" href="faq.html">Faq</a></li>-->
                    <li><a class="dropdown-item" href="team.html">Nuestro equipo</a></li>
                    <!--<li><a class="dropdown-item" href="team-single.html">Team Single</a></li>
                    <li><a class="dropdown-item" href="typography.html">Typography</a></li>
                    <li><a class="dropdown-item" href="page-left-sidebar.html">Page Left Sidebar</a></li>
                    <li><a class="dropdown-item" href="page-right-sidebar.html">Page Right Sidebar</a></li>
                    <li><a class="dropdown-item" href="error-404.html">Error 404</a></li>
                    <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>-->
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="service.html">Servicios que ofrecemos</a></li>
                    <!--<li><a class="dropdown-item" href="service-detail.html">Service Single</a></li>-->
                  </ul>
                </li>
                <!--<li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Case Studies</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="case-studies.html">Case Studies</a></li>
                    <li><a class="dropdown-item" href="case-studies-detail.html">Case Studies Single</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="blog.html">Blog Standard</a></li>
                    <li><a class="dropdown-item" href="blog-detail.html">Blog Single</a></li>
                  </ul>-->
                </li>
                <li class="nav-item"><a class="nav-link" href="contact-us.html">Contactanos</a></li>
              </ul>
            </nav>
            <div class="bottom-info">
              <div class="contact-info">
                <span class="número">+569 39661894</span>
                <a class="mail" href="#"><i class="fa-regular fa-envelope"></i>info@gmail.com</a>
                <span class="text">¿Buscas colaboración para proteger tus activos criticos?</span>
              </div>
            </div>
          </div>
        </div>
      </div>

     <!--=================================
      Header Side Panel -->
      <div class="offcanvas offcanvas-end sidepanel-offcanvas" tabindex="-1" id="offcanvasRight">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
        </div>

        <div class="offcanvas-body lenis-scroll-disable">
          <div class="body-inner">
            <div class="about-info">
              <h4 class="title mb-3">Protege tu negocio con accion y estrategia</h4>
              <p>La ejecución es el escudo más fuerte. Implementa, mejora, escala.</p>
            </div>
            <div class="socail-info">
              <div class="socail-info mt-4">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa-brands fa-facebook-f me-2"></i>Facebook</a></li>
                  <li><a href="#"><i class="fa-brands fa-instagram me-2"></i>Instagram</a></li>
                  <li><a href="#"><i class="fa-brands fa-x-twitter me-2"></i>linkedIn</a></li>
                  <!--<li><a href="#"><i class="fa-brands fa-dribbble me-2"></i>Dribbble</a></li>-->
                </ul>
              </div>
            </div>
            <div class="contact-info">
              <span class="número">+56 9 39661894</span>
              <a class="mail" href="#"><i class="fa-regular fa-envelope"></i>contacto.soluciones@ir360.store</a>
              <span class="text">¿Buscas colaboración para proteger tu próxima gran idea?</span>
            </div>
          </div>
        </div>
      </div>

      <div class="site-content">

      <div class="container-fluid">
        <div class="item-efftect">
           <div class="efftect overflow-hidden"></div>
           <div class="efftect overflow-hidden"></div>
           <div class="efftect overflow-hidden"></div>
           <div class="efftect overflow-hidden"></div>
           <div class="efftect overflow-hidden"></div>
        </div>
      </div>


        <!--=================================
        Page Header -->
        <div class="inner-header bg-holder" style="background-image: url(images/banner/inner-header/page-header-01.jpg);">
          <div class="container">
            <div class="row  justify-content-center">
              <div class="col-md-12 text-center">
                <h1 class="title"><strong></strong>Nuestros servicios </strong></h1>
                <p>Servicios expertos en ciberseguridad, para proteger y fortalecer tu infraestructura digital</p>
              </div>
            </div>
          </div>
        </div>

        <section class="space-ptb bg-dark text-white">
          <div class="container">
            <div class="row justify-content-center mb-5">
              <div class="col-lg-8 text-center">
                <h2 class="section-title text-uppercase fw-bold fade-in">Nuestros Servicios Especializados</h2>
                <p class="lead text-light fade-in">Soluciones integrales en ciberseguridad para proteger lo que más importa: tu información.</p>
              </div>
            </div>
        
            <div class="row g-4">
        
              <!-- Auditorías ISO 27001 -->
              <div class="col-md-6">
                <div class="p-4 rounded shadow h-100 glass text-white service-card">
                  <div class="d-flex align-items-center mb-3">
                    <i class="fas fa-shield-alt fa-2x me-3 text-info pulse-icon"></i>
                    <h4 class="mb-0 text-uppercase">Auditorías SGSI - ISO/IEC 27001:2023</h4>
                  </div>
                  <p>Ejecutamos auditorías integrales al Sistema de Gestión de Seguridad de la Información (SGSI), conforme a la norma <strong>ISO/IEC 27001:2023</strong>. Evaluamos controles organizacionales, técnicos, humanos y físicos.</p>
                  <p>Nuestro equipo de auditores certificados como <strong>ISO 27001 Lead Auditor</strong> emplea metodologías reconocidas para verificar cumplimiento, identificar brechas y fortalecer la madurez del sistema de seguridad.</p>
                  <div class="text-end mt-2">
                    <span class="badge bg-info text-dark">Cumplimiento Normativo</span>
                    <span class="badge bg-secondary">Gestión de Riesgos</span>
                  </div>
                </div>
              </div>
        
              <!-- Escaneo de Vulnerabilidades -->
              <div class="col-md-6">
                <div class="p-4 rounded shadow h-100 glass text-white service-card">
                  <div class="d-flex align-items-center mb-3">
                    <i class="fas fa-network-wired fa-2x me-3 text-warning pulse-icon"></i>
                    <h4 class="mb-0 text-uppercase">Escaneo de Vulnerabilidades</h4>
                  </div>
                  <p>Realizamos exploraciones técnicas avanzadas sobre infraestructura tecnológica, identificando puertos expuestos, configuraciones inseguras, servicios vulnerables y brechas en el perímetro digital.</p>
                  <p>Entregamos un plan de mitigación estructurado, priorizado por criticidad, que reduce la superficie de ataque y optimiza la postura de ciberseguridad.</p>
                  <div class="text-end mt-2">
                    <span class="badge bg-warning text-dark">Infraestructura Segura</span>
                    <span class="badge bg-dark border border-light">Hardening</span>
                  </div>
                </div>
              </div>
        
              <!-- Análisis de Datos -->
              <div class="col-md-6">
                <div class="p-4 rounded shadow h-100 glass text-white service-card">
                  <div class="d-flex align-items-center mb-3">
                    <i class="fas fa-chart-line fa-2x me-3 text-success pulse-icon"></i>
                    <h4 class="mb-0 text-uppercase">Análisis de Datos de Ciberseguridad</h4>
                  </div>
                  <p>Transformamos datos de eventos y registros digitales en inteligencia estratégica. Aplicamos técnicas de análisis descriptivo, predictivo y correlacional para mapear incidentes y anticipar amenazas.</p>
                  <p>Facilitamos decisiones informadas mediante dashboards, reportes analíticos y recomendaciones accionables para fortalecer la resiliencia digital.</p>
                  <div class="text-end mt-2">
                    <span class="badge bg-success">Data-Driven</span>
                    <span class="badge bg-light text-dark">Ciberinteligencia</span>
                  </div>
                </div>
              </div>
        
              <!-- Concientización -->
              <div class="col-md-6">
                <div class="p-4 rounded shadow h-100 glass text-white service-card">
                  <div class="d-flex align-items-center mb-3">
                    <i class="fas fa-user-shield fa-2x me-3 text-primary pulse-icon"></i>
                    <h4 class="mb-0 text-uppercase">Concientización en Ciberseguridad</h4>
                  </div>
                  <p>Diseñamos estrategias de capacitación y sensibilización adaptadas a los riesgos de su entorno. Incluyen simulaciones de phishing, talleres participativos y campañas digitales para generar una cultura de seguridad sólida.</p>
                  <p>Nuestro objetivo es convertir a cada colaborador en un defensor activo de los activos digitales de la organización.</p>
                  <div class="text-end mt-2">
                    <span class="badge bg-primary">Cultura de Seguridad</span>
                    <span class="badge bg-light text-dark">Simulación Phishing</span>
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        </section>
        
        <!-- Estilos extra -->
        
          <!--=================================
          Services -->

        </div>
      </div>

<!--=================================================================================================================
      Site Footer -->
      <footer class="site-footer footer-dark">
        <div class="footer-main">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-md-5">
                <div class="widget widget-address-info">
                  <h5 class="widget-title">Contactanos</h5>
                  <ul class="address-info-list">
                    <li><i class="icon"><img class="img-fluid" src="images/svg/address-info-contacts.svg" alt="" /></i><span class="info"><span>Avenida Rafael Riesco Bernales Nro 501 </span>Maipu, Region Metropolitana, Chile</span></li>
                    <li><i class="icon"><img class="img-fluid" src="images/svg/address-info-headphone.svg" alt="" /></i><span class="info"><span>+56 9 39661894 </span>Lunes a viernes 8:30am 6:30pm</span></li>
                    <li><i class="icon"><img class="img-fluid" src="images/svg/address-info-email.svg" alt="" /></i><span class="info"><span>contacto@ir360.cl </span></span></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-5 col-md-7">
                <div class="widget">
                  <h5 class="widget-title">Escribenos</h5>
                  <div class="widget widget-newsletter mb-4 pb-2">
                    <form class="newsletter-form">
                      <input type="text" class="form-control" placeholder="Enter Your Email">
                      <button type="submit" class="subscribe-btn"><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                  </div>
                    <!--<div class="widget widget-menu">
                    <h6 class="widget-title">Quick Links</h6>
                    <ul class="list-unstyled list-col-3 mb-0">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about-us.html">About us</a></li>
                      <li><a href="team.html">Team</a></li>
                      <li><a href="team-single.html">Team Single</a></li>
                      <li><a href="service.html">Service</a></li>
                      <li><a href="service-detail.html">Service Single</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-detail.html">Blog Single</a></li>
                      <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                  </div>-->
                </div>
              </div>
              <div class="col-xl-3 col-md-12 ms-auto">
                <div class="widget widget-info">
                  <h5 class="widget-title">Call Center</h5>
                  <a class="number" href="tel:+56998765432">+56 9 39661894</a>
                  <h6 class="title">Consulta gratis con nuestros expertos en seguridad</h6>
                </div>
                <div class="widget-socail">
                  <ul class="socail-icon">
                    <li><a href="#">Fb</a></li>
                    <li><a href="#">Ig</a></li>
                    <li><a href="#">Lkdin</a></li>
                    </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6"><p><a class="footer-logo" href="index.html"><img class="img-fluid logo-ir360" src="images/IR360 Blanco.png" alt="logo" /></a></p></div>
              <div class="col-lg-6 text-lg-end"><p>Develop and design by <a href="#">Potenza Global Solutions</a></p></div>
            </div>
          </div>
        </div>
      </footer>

      <!--=================================
      Back To Top -->
      <div class="back-to-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
      </div>

    </div>
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/swiper/swiper.min.js"></script>
    <script src="js/swiperanimation/SwiperAnimation.min.js"></script>
    <script src="js/shuffle/shuffle.min.js"></script>
    <script src="js/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="js/counter/jquery.countTo.js"></script>
    <script src="js/gsap.min.js"></script>
    <script src="js/attractHover.js"></script>
    <script src="js/lenis.min.js"></script>
    <script src="js/custom.js"></script> <!-- Template Scripts (Do not remove)-->
  </body>
</html>
